{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Blog</h1>
          <span class="subheading">My first study project</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->

{% for object in post_objects: %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            {{ object.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ object.subtitle }}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Y</a>
          on {{ todays_date }}</p>
      </div>
      <hr>
    </div>
  </div>
</div>

<hr>
{% endfor %}
{% include "footer.html" %}
